* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1.heading {
  width: 100%;
  color: blueviolet;
  display: flex;
  justify-content: center;
  font-size: 56px;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  background-color: antiquewhite;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px;
  width: 95%;
}

li {
  list-style: none;
  font-weight: 600;
}

.topSection {
  height: 36px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
  width: 100%;
}

.inputContainer {
  height: 85%;
  width: 25%;
  background-color: brown;
  border-radius: 10px;
}

.outputDisplay {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
}

.ListDisplay {
  height: 75%;
  width: 100%;
  border-radius: 10px;
}

ul#scoresList {
  height: 82%;
  background-color: darkgrey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button.refresh-btn {
  height: 100%;
  padding: 8px;
  font-size: 14px;
  background-color: #2e5c5d;
  font-weight: 800;
  color: white;
  border-radius: 4px;
}

.inputScores {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 100%;
}

.typeName {
  height: 26px;
  padding: 5px;
  width: 95%;
}

.typeScore {
  height: 26px;
  width: 95%;
  padding: 5px;
}

h2 {
  font-size: 36px;
  color: cornflowerblue;
}

h3 {
  padding: 2px;
  font-size: 36px;
  color: cornflowerblue;
}

button#submit {
  height: 100%;
  padding: 8px;
  font-size: 14px;
  background-color: #2e5c5d;
  font-weight: 800;
  color: white;
  border-radius: 4px;
  align-self: flex-end;
}

@media (max-width: 499px) {
  .subContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vw;
    height: 100%;
    width: 100%;
  }

  .inputContainer {
    height: 90%;
    width: 85%;
  }

  .outputDisplay {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 85%;
  }

  h1.heading {
    width: 100%;
    color: blueviolet;
    display: flex;
    justify-content: center;
    font-size: 46px;
  }
}
